<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'all_products' %}" id="home-link">
                HOME
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 dropdown-toggle" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CATEGORIES
            </a>
            <div class="dropdown-menu border-0 border-black" aria-labelledby="shop-link">
                <a href="{% url 'all_products' %}?category=food" class="dropdown-item">Food</a>
                <a href="{% url 'all_products' %}?category=drinks" class="dropdown-item">Drinks</a>
                <a href="{% url 'all_products' %}?category=sweets_and_snacks" class="dropdown-item">Sweets and Snacks</a>
                <a href="{% url 'all_products' %}" class="dropdown-item">All products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 dropdown-toggle" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ABOUT
            </a>
            <div class="dropdown-menu border-0 border-black" aria-labelledby="about-link">
                <a href="{% url 'about_us' %}" class="dropdown-item">About Us</a>
                <a href="{% url 'faq_list' %}" class="dropdown-item">FAQs</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'newsletter' %}" id="newsletter-link">
                NEWSLETTER
            </a>
        </li>
    </ul>
</div>