<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="about-link">
                HOME
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5 dropdown-toggle" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP
            </a>
            <div class="dropdown-menu border-0 border-black" aria-labelledby="shop-link">
                <a href="{% url 'products' %}" class="dropdown-item">All products</a>
                <a href="{% url 'products' %}?category=food" class="dropdown-item">Food</a>
                <a href="{% url 'products' %}?category=drinks" class="dropdown-item">Drinks</a>
                <a href="{% url 'products' %}?category=sweets_and_snacks" class="dropdown-item">Sweets and snacks</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="" id="about-link">
                ABOUT
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="" id="contact-link">
                CONTACT
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="{% url 'newsletter' %}" id="newsletter-link">
                NEWSLETTER
            </a>
        </li>
    </ul>
</div>