{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center mb-4">{% trans "Sign In" %}</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p>Welcome to the Balkan Food Market. Please log in. If
                you have not created an account yet, then <a class="link" href="{{ signup_url }}">
                sign&nbsp;up</a> first.</p>
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-dark right" type="submit">{% trans "Sign In" %}</button>
                <p class="mt-2">
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
                        {% trans "Forgot Password?" %}
                    </a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}