{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center mb-4">About Us</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            {% if about %}
                {{ about.content|linebreaks|safe }}
            {% else %}
                <p>No content available.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
