{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-center mb-4">About Us</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p>Balkan Food Market is an importer and distributor of food and drink as well as delicatessen products from the following countries: Bosnia and Herzegovina, Croatia, Slovenia, Serbia, Macedonia, Montenegro and Kosovo.</p>

            <p>Since 2023 we are committed to familiarising consumers and customers in Ireland with delicious food as well as everyday products and top name brands from Southeast Europe.</p>
            
            <p>What We Do?</p>
            <p>We provide an extensive range of products for your customers to choose from. We supply mainly to supermarkets, delicatessen stores, wholesalers, catering establishments, restaurants and other businesses. In addition, we provide private customers with comprehensive information about our stockists.</p>
            
            <p>Do you run a shop, supermarket, delicatessen store, restaurant or similar establishment, and would you be interested in including our products in your range?</p>

            <p>If so, please contact us to discuss the options. We would be delighted to have you as our customer! We provide a comprehensive sales support service. Indeed, we pride ourselves on delivering a high quality, competitively priced service.</p>
                
            <p>We look forward to welcoming you as a customer of Balkan Food Market!</p>
        </div>
    </div>
</div>

{% endblock %}
